body{
    background-color: tomato;
}

.Container-Navbar {
    background-color: blue;
}
.footer {
    background-color: aqua;
    color: blue;
}
    .ul-navbar {
        background-color: rgb(255, 0, 255); 
width: 20%;
    }
    <a href="../Hyper link/indexx.html">Home</a>